
[Unit]
Description=xx-network watchdog
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /YOUR PATH/xxnetwork-watchdog.py
[Install]
WantedBy=multi-user.target
